:root{
    --main-color:#00e1ff;
}

body{
    height: 100vh;
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .atom {
            width: 250px;
            height: 250px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 30px;
            .center{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: var(--main-color);
            }
            
            .orbit {
                position: absolute;
                width: 250px;
                height: 250px;
                border: solid 4px transparent;
                transform-style: preserve-3d;
            }
            .border {
                border-radius: 50%;
                border-color:  var(--main-color);
            }
            .electron {
                transform-style: preserve-3d;
            }
            .electron:after {
                display: block;
                content: '';
                width: 16px;
                height: 16px;
                margin-left: -8px;
                margin-top: -8px;
                border-radius: 50%;
                position: absolute;
                top: 125px;
                left: 125px;
                border-color: rgba(255, 255, 255, 0.4);
            }
            .atom-top.border {
                transform: rotateZ(0deg) rotateY(73deg);
            }
            .atom-top.atom-path {
                transform: translateZ(100px) rotateZ(0deg) rotateY(73deg);
            }
            .atom-top .electron {
                animation: rotate-top infinite linear;
                animation-duration: 1.5s;
            }
            .atom-top .electron:before, .atom-top .electron:after {
                transform: rotateY(-73deg) rotateZ(0deg);
            }
            .atom-left.border {
                transform: rotateZ(-60deg) rotateY(73deg);
            }
            .atom-left.atom-path {
                transform: translateZ(100px) rotateZ(-60deg) rotateY(73deg);
            }
            .atom-left .electron {
                animation: rotate-left infinite linear;
                animation-duration: 2s;
            }
            .atom-left .electron:before, .atom-left .electron:after {
                transform: rotateY(-73deg) rotateZ(60deg);
            }
            .atom-right.border {
                transform: rotateZ(60deg) rotateY(73deg);
            }
            .atom-right.atom-path {
                transform: translateZ(100px) rotateZ(60deg) rotateY(73deg);
            }
            .atom-right .electron {
                animation: rotate-right infinite linear;
                animation-duration: 2.3s;
            }
            .atom-right .electron:before, .atom-right .electron:after {
                transform: rotateY(-73deg) rotateZ(-60deg);
            }
            .atom-left .electron:after,
            .atom-right .electron:after,
            .atom-top .electron:after {
                background: var(--main-color);
            }
        }
        
       
    }
}

@-webkit-keyframes rotate-top {
    0% {
        transform: rotate(0deg) translate(-125px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-125px) rotate(-360deg);
    }
}
@keyframes rotate-top {
    0% {
        transform: rotate(0deg) translate(-125px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-125px) rotate(-360deg);
    }
}
@-webkit-keyframes rotate-left {
    0% {
        transform: rotate(60deg) translate(-125px) rotate(-60deg);
    }
    100% {
        transform: rotate(420deg) translate(-125px) rotate(-420deg);
    }
}
@keyframes rotate-left {
    0% {
        transform: rotate(60deg) translate(-125px) rotate(-60deg);
    }
    100% {
        transform: rotate(420deg) translate(-125px) rotate(-420deg);
    }
}
@-webkit-keyframes rotate-right {
    0% {
        transform: rotate(120deg) translate(-125px) rotate(-120deg);
    }
    100% {
        transform: rotate(480deg) translate(-125px) rotate(-480deg);
    }
}
@keyframes rotate-right {
    0% {
        transform: rotate(120deg) translate(-125px) rotate(-120deg);
    }
    100% {
        transform: rotate(480deg) translate(-125px) rotate(-480deg);
    }
}